.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 800px;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 0px 2px 0px gray;
}

.header2 {
  max-width: 1200px;
  min-width: 800px;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 0px 2px 0px gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}

.input_box {
  margin: 10px;
}

.mainBody {
  max-width: 1200px;
  min-width: 800px;
  padding: 10px;
  margin: auto;
}

.todo {
  width: 300px;
  height: 150px;
  border: 3px seagreen solid;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}

.todo > button {
  padding: 10px;
  margin-right: 10px;
}

.todos-container {
  display: flex;
}
